@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
	width: 100%;
}

body {
	background-image: url("../assets/img/backgroud.png");
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100%;
	transition: all 3s ease-in-out;
	display: flex;
	flex-direction: row;
}

.lateral {
	display: flex;
    align-items: center;
    flex-direction: column;
    width: 15%;
    height: 100%;
    background-repeat: repeat-y;
    background-color: #3e1f58;
    gap: 20px;
    position: fixed;
    
  }

  .lateral .logo{
	width: 80%;
	margin:0;
	margin-top: 60px;
  }

  .lateral a {
	text-decoration: none;
    border-radius: 10px;
    padding: 15px;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

nav {
	display: flex;
	flex-direction: column;
	padding: 0px;
	gap: 40px;
	align-items: center;
	font-size: 15px;
	margin-top: 70px;

}

.container-painel{
	font-family: 'Poppins';
	margin-left: 15rem;
	width: 85%;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 5px;
	border-radius: 10px;
	justify-content: center;

}

.container-dash{
	font-family: 'Poppins';
	margin-left: 15rem;
	width: 85%;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 5px;
	border-radius: 10px;
	justify-content: center;
}

.button-start{
	margin-top: 70px;
	margin-bottom: 70px;
}

.dash{
	width: 900px;
}



.quiz-content button{
	margin-top: 20px;
	width: 80%;
}

.button-start button{
	margin-top: 40px;
	width: 20%;
	font-size: 20px;
	padding: 15px;
	border-radius: 25px;
}

.quiz-content{
	padding: 80px;
	background-color:rgba(245, 245, 245, 1);
	border-radius: 8px;
	width: 65%;
	height: 100hv;
	align-items: center;
	justify-content: center;
	border: 2px solid #D1C4E9;
	text-align: center;
	font-size: 20px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.lateral a:hover {
	border-radius: 10px;
	background-color: white;
	color: #8374f3;
}

.sair{
	margin-top: 40%;
}

button{
	margin-top: 15px;
	cursor: pointer;
	border: none;
	border-radius: 20px;
	font-size: 1rem;
	color: #fff;
	background: #9e4dd4;
	padding: 10px;
	width: 80%;
	font-weight: bold;
	text-decoration: none;
	box-shadow: 0 4px 15px rgba(142, 68, 173, 0.4);
}

button:hover {
	transform: scale(1.05);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.quiz-content h3{
	margin-bottom: 80px;
	font-size: 25px;
}


h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 38px;
	color: #393970;
	margin-bottom: 35px;
	letter-spacing: 1.5px;
	text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}


.hello{
	margin-top: 50px;
	color: white;
	font-size: 20px;
}

.kpis{
	display: flex;
	flex-direction: row-reverse;
	padding: 20px;
	gap: 60px;
	
}


.kpi{
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	background-color: #783C82;
	box-shadow: 0 4px 15px rgba(120, 60, 130, 0.3);
	border: solid 2px #D1C4E9;
}

.indicador, .resultado{
	margin-bottom: 10px;
	font-size:20px;
	color:#fff
}

.indicador{
	border-bottom: 1px solid #fff;
}

#graficoBarra{
	background-color: #783C82;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 15px rgba(120, 60, 130, 0.3);
	border: solid 2px #D1C4E9;

}

.resultadoQuiz{
	margin-top: 15px;
	margin-bottom: 15px;
}

.numeroAtual{
	display: flex;
	justify-content: end;
	font-size: 22px;
}

.resultadoQuiz h3{
	margin-bottom: 20px;
}

.botoesResultadoQuiz{
	margin-top: 50px;
}


.menu{
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
	width: 80%;

}

.conteudoEstilo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
}

.menu button{
	display: flex;
	justify-content: center;
	width: 15rem;
	margin-bottom: 2rem;
}


.estilo{
	display: flex;
	flex-direction: column;
	gap:2rem ;
	width: 75%;
	border-radius: 10px;
	justify-content: center;
	
}

.estilo a{
	text-decoration: none;
	color: #9e4dd4;
	font-weight: bold;
}

.estilo ul{
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.estilo ul li{
	font-size: 16px; 
  	color: #333;
	width: 30%;
}

.estilo ul li a:hover {
	text-decoration: underline;
  }

.estilo p{
	text-align: justify;
}

.estiloEnergetico, .estiloTranquilo, .estiloUnico, .estiloCriativo{
	padding: 10px;
	border-radius: 10px; 
	background-color: rgba(245, 245, 245, 1);
	padding: 30px;
}

.estiloEnergetico{
	border: solid 2px rgba(176, 48, 96, 0.3);
}

.estiloCriativo {
    border: solid 2px rgba(46, 139, 87, 0.3); 
}

.estiloTranquilo {
    border: solid 2px rgba(70, 130, 180, 0.3); 
}

.estiloUnico {
    border: solid 2px rgba(184, 134, 11, 0.3); 
}

.estiloEnergetico a, .estiloEnergetico b {
	color: #B03060; 
	
  }
  
  .estiloCriativo a, .estiloCriativo b {
	color: #2E8B57; 
  }
  
  .estiloTranquilo a, .estiloTranquilo b {
	color: #4682B4; 
  }
  
  .estiloUnico a, .estiloUnico b {
	color: #B8860B; 
  }
  
.container-painel .menu, .container-painel .estilo{
	margin-left: 4rem;
}