@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	background-color: #5A3D9E !important;
	position: fixed;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);

}

html {
	scroll-behavior: smooth;

}

body {
	background-image: url("../img/background.png");
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	transition: all 3s ease-in-out;
}

.logo {
	width: 10%;
	margin: 0;
	margin-left: 100px;
	padding: 10px;
}

a {
	text-decoration: none;
	padding: 15px;
	align-items: center;
	color: white;
	transition: color 0.3s ease;
}

a:hover {
	color: #e4c2f1;
}

main h1 {
	font-family: 'Playfair Display';
}

nav {
	display: flex;
	padding: 0px;
	gap: 40px;
	margin-right: 100px;
	align-items: center;
	font-size: 15px;

}

footer {
	background-color: rgb(230, 220, 255) !important;
	padding: 20px 0;
	width: 100%;
	color: #333;
	align-items: center;
	display: flex;
	justify-content: center;
}

footer span {
	font-size: 12px;
}

header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	background-color: #8374f3;
	position: fixed;
	z-index: 10;

}


body {
	background-image: url("../img/backgroud.png");
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}

.logo {
	width: 9%;
	margin: 0;
	margin-left: 100px;
	padding: 15px;
}

a {
	text-decoration: none;
	padding: 15px;
	align-items: center;
	color: white;
	transition: color 0.3s ease;
}


nav a:hover {
	color: #D196F8;
}

nav {
	display: flex;
	padding: 0px;
	gap: 40px;
	margin-right: 100px;
	align-items: center;
	font-size: 18px;

}

.entrarlink {
	display: flex;
	gap: 10px;
	margin-right: 100px;
	font-size: 18px;
	padding: 15px;
	height: 10px;
	transition: background-color 0.3s ease-in-out;
	border-radius: 5px;

}

.entrarlink:hover {
	background-color: white;
	color: #8374f3;
}

.span-entrar {
	line-height: 10px;
	display: flex;
	align-items: center;
}


footer {
	background-color: #8864c4;
	padding: 20px 0;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
}

section {
	margin: 0;
	padding: 20px;
	border-radius: 10px;
	margin-top: 50px;
}

.container-login {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
}

.card {
	display: flex;
	justify-content: center;
	background-color: rgb(255, 255, 255, 0.9);
	align-items: center;
	width: 400px;
	padding: 30px 20px;
	border-radius: 12px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.cadastro {
	margin-top: 90px;
}

.formulario {
	display: flex;
	height: 90%;
	flex-direction: column;
	width: 80%;
	justify-content: space-between;
	margin-bottom: 15px;
}

.formulario h1 {
	font-size: 70px;
	color: #4a4a8f;
	margin-bottom: 20px;
	font-family: 'Roboto', serif;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.campo {
	margin-bottom: 15px;
}

.input-container {
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 20px;
}

.input-container i {
	position: absolute;
	left: 10px;
	color: #4a4a8f;
	font-size: 1.2em;
}

.input-container input {
	padding: 10px 10px 10px 35px;
	width: 100%;
	border-radius: 8px;
	border: 1px solid #d1d1d1;
	background-color: #f8f9fa;
	transition: border 0.3s ease;
}

.principal {
	margin-top: 150px;
}

section h1 {
	font-size: 70px;
	margin-bottom: 90px;
	text-align: center;

}

.botoes-login {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.principal .conteudo {
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	max-width: 900px;
	margin-bottom: 70px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 80px;
	color: #4a4a8f;
	margin-bottom: 15px;
	letter-spacing: 2px;
	text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.card .campo .tituloInput {
	padding: 10px;
}

.principal p {
	font-size: 20px;
	color: #333;
	line-height: 1.8;
	text-align: justify;
	font-family: 'Arial', sans-serif;
}

.button {
	cursor: pointer;
	border: none;
	border-radius: 20px;
	font-size: 1rem;
	color: #fff;
	background: linear-gradient(135deg, #A364F1, #D196F8);
	padding: 10px;
	width: 80%;
	font-weight: bold;
	text-decoration: none;
	margin: 10px 0;
	box-shadow: 0 4px 15px rgba(142, 68, 173, 0.4);
}

.button:hover {
	transform: scale(1.05);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}


.principal p strong {
	color: #4a4a8f;
}


video {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: translate(-50%, -50%);
	z-index: -1
}

.video-fundo {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.videocadastro {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;

}

.descricao {
	display: none;
}

.div-principal p {
	text-align: justify;
	line-height: 1.8;
}

.div-principal span {
	font-weight: 500;
}

.div-principal li {
	padding: 5px;
}

.div-principal li:hover {
	cursor: pointer;
}

.div-pai {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	padding: 40px;
	background-color: #f5f5f5;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	max-width: 1150px;
	margin: 30px auto;
}


.div-img,
.div-principal {
	background-color: #E6E6FA;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(49, 3, 87, 0.1);
	width: 500px;
	text-align: center;

}

.container {
	display: flex;
	gap: 20px;
}

.lista {
	list-style-position: inside;
	text-align: justify;
	padding: 20px;
	margin-bottom: 10px;
	line-height: 30px;
}

.footer-content {
	display: flex;
	color: black;
	gap: 10px;
	font-size: cover;
	text-align: center;
	position: relative;
	font-size: 15px;

}

.icon {
	width: 20px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon:hover {
	transform: rotate(15deg);
}

.sobre-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 60px 20px;
	background-color: #f3f2fc;
}

.sobre-content {
	max-width: 600px;
	padding: 20px;
}
.lista li {
    background-color: #f0f0f0; 
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    transition: all 0.3s ease-in-out; 
}

.lista li:hover {
    background-color: #4a4a8f; 
    color: white; 
    transform: scale(1.05); 
}

h2 {
	font-size: 35px;
	color: #4B2C8C;
	margin-bottom: 20px;
}

.sobre-content p {
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 20px;
}

.btn-saiba {
	display: inline-block;
	margin-top: 10px;
	padding: 12px 25px;
	background-color: #6a4ad9;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	border-radius: 8px;
	transition: background-color 0.3s ease;
}

.btn-saiba:hover {
	background-color: #5A3D9E;
	transform: scale(1.05);
}

.sobre-image {
	max-width: 400px;
	margin-left: 30px;
}

.sobre-image img {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.alerta_erro {
	display: flex;
	justify-content: end;
}

.card_erro {
	display: none;
	background-color: #fff;
	color: black;
	width: 230px;
	position: relative;
	border-radius: 15px;
	border: #4B2C8C 3px solid;
	padding: 10px;
	margin-right: 10%;
	margin-bottom: 5px;
}

.card_erro #mensagem_erro {
	font-weight: 500;
	font-size: 20px;
}


.form-container {
	max-width: 600px;
	margin: auto;
}

.form {
	background-color: white;
	width: 35vw;
	padding: 15px;
	padding-top: 0%;
	text-align: center;
	border-radius: 20px;
	margin-top: 70px;

}


fieldset {
	border: 3px solid #6a4ad9;
	border-radius: 10px;
	padding: 20px;

}

legend {
	border: 1px solid #6a4ad9;
	padding: 10px;
	background-color: #6a4ad9;
	border-radius: 10px;
	color: white
}

.form h2 {
	margin: 0;
	color: #fff;
	text-align: center;
}